# Ignore all
*
# But these
!.gitignore
!.nvmrc
!.prettierrc.json
!.yarnrc.yml
!.eslintignore
!.eslintrc.json
!package.json
!tsconfig.json
!README.md
!src
!src/**
!.yarn
!.yarn/releases
!.yarn/releases/yarn-3.5.0.cjs